.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        input.error {
          border-color: red;
        }
       .emailDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
          flex:15;
        }
        span{
          flex: 1
        }
       }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
        button:disabled {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #a2a2a8;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .switch{
        display: flex;
        gap: 10px;
        button{
          padding: 2px;
          background-color: #938eef;
          color: white;
      
          cursor: pointer;
          border: none;
        }
      }
    }
  }
}
