body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";


.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
}
$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    gradient: linear-gradient (to left, #222, #444)
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 676px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 715px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin things {
  @media (max-width: 1025px) {
    @content;
  }
}
@mixin PC {
  @media (max-width: 1210px) {
    @content;
  }
}

button{
  border-radius: 50px;
  width: auto;
  border: none;
  padding: 5px;
  
}