@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    background: themed("gradient");
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;
    @include tablet {
      flex-wrap: wrap;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }
    }
    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid themed("border");
      border-radius: 5px;
      padding: 5px;
      width: 50%;
      cursor: pointer;
      margin-left: 10px;
      @include mobile {
        width: 35%;
        outline: none;
        border: none;
      }
      input {
        border: none;
        min-width: 85%;
        background-color: transparent;
        color: themed("textColor");
       
        @include mobile {
          width: 30%;
        }
      }
      input:focus{
        
        border: none;
        outline: none;
      }
     
    }
    .search:focus-within{
      box-shadow: 0px 0px 6px 3px rgba(73,175,168,1);
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      #menu-toggle {
        display: none;
      }
      @include things {
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        @include things {
          display: flex;
          .menu-button,
          .menu-button::before,
          .menu-button::after {
            display: block;
            background-color: themed("textColor");
            position: absolute;
            height: 4px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
          }
          .menu-button::before {
            content: "";
            margin-top: -8px;
          }
          .menu-button::after {
            content: "";
            margin-top: 8px;
          }
        }

      

          
       
        }
     
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include things {
          position: absolute;
          top: 0;
          margin-top: 70px;
          right: 0;
          flex-direction: column;
          min-width: 25%;
          max-width: 50%;
          align-items: center;
          justify-content: center;
        }
        li {
          margin: 0 1rem;
          overflow: hidden;
          background-color: themed("bg");
          @include things {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            color: themed("textColor");
            background-color: themed("menu");
            border:  1px solid themed("textColorSoft");
            
          }
          .link{
            color: themed("textColor");
          }
        .link:visited{
          color: themed("textColor");
        }
          .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }
            span {
              display: none;
              text-decoration: none;
              color: themed("textColor");
              @include things {
                display: flex;
                margin-left: 10px;
              }
            }
        }
        li:not(:last-child) {
          border-bottom: 1px solid themed("textColorSoft");
        }
        button{
          background-color: themed("bg");

          @include things {
          color: themed("textColor");
          background-color: themed("menu");
          border:  none;
          cursor: pointer;
          }
        }
        span {
          display: none;
          @include things {
            display: flex;
            margin-left: 10px;
          }
        }
      }
    }

    #menu-toggle:checked ~ .menu li {
      border: 1px solid themed("bgSoft");
      height: 2.5em;
      padding: 0.5em;
      padding-left: 20px;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }


    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
  }
  }
}
