.welcome {
  .card {
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
align-items: center;
justify-content: center;
overflow: auto;
      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: fit-content;
        padding: 10px;
        border: none;
        background-color: rgb(237, 218, 255);
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
